<div class="container">
    <h2 class="badge bg-primary text-wrap">
      <%= "#{@user.name}'s Bio"%>
    </h2>
    <p class="text-center">Name</p>
    <p class="text-center"><%= @user.name %></p>
    
    <p class="text-center">Age</p>
    <p class="text-center"><%= @user.age %></p>
    
    <p class="text-center">Favourite Sports</p>
    <p class="text-center"><%= @user.favorite_sports %></p>

    <% if @user.tag_list.any? %>
      <% @user.tags.each do |tag| %>
        <%= link_to posts_path(tag: tag.name) do %>
          <div class="badge badge badge-info"><%= "#{tag.name}(#{tag.taggings_count})" %></div>
        <% end %>
      <% end %>
    <% end %>

    <% @posts.each do |post| %>
      <div class="col-auto">
        <div class="card" style="width: 18rem;">
          <div class="card-header">
            <%= link_to post.user.name, user_path(post.user, method: :get) %>
          </div>
          <%=link_to image_tag(post.image, class: "bd-placeholder-img card-img-top"), post_path(post.id) %>
          <div class="card-body">
            <h5 class="card-title"><%= post.title%></h5>
            <% if post.tag_list.any? %>
              <% post.tags.each do |tag| %>
                <%= link_to posts_path(tag: tag.name) do %>
                  <div class="badge badge badge-info"><%= "#{tag.name}(#{tag.taggings_count})" %></div>
                <% end %>
              <% end %>
            <% end %>
            <%= link_to 'Details', post_path(post.id), method: :get, class: "btn btn-warning" %>
          </div>
        </div>
      </div>
    <% end %>
    <div class="btn btn-primary">
      <%=link_to 'Go Back to Top', root_path, class: "btn btn-primary" %>
    </div>
</div>