<div class="container">
  <%= form_with model: @room, url: rooms_path, local: true do |form| %>
    <%# ヘッダー %>
    <nav class="navbar navbar-light bg-light">
      <span class="navbar-brand mb-0 h1">Create New Room</span>
    </nav>
    <%# /ヘッダー%>

    <%# <%= render "shared/error_messages", resource: @post %> 
    
    <%# ルーム名 %>
    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title, class:"form-control", id: 'title'%>
    </div>
    <%# /ルーム名 %>

    <%# タグ%>
    <div class="form-group">
      <%= form.label :tag_list %>
      <div class="input-form">
        <%= form.text_field :tag_list, value: @post.tag_list.join(','), data: {role: "tagsinput"} %>
      </div>
    </div>
    <%# /タグ%>

    <%# 下部ボタン %>
    <div class="sell-btn-contents">
      <%= form.submit "Save", class:"btn btn-primary" %>
      <%=link_to 'Go Back to Top', root_path, class:"btn btn-primary" %>
    </div>
    <%# /下部ボタン %>

  <% end %>
</div>