<% @posts.each do |post| %>
  <%= link_to post_path(post) do %>  
    <div class="card mb-3 post-card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-2">
            <%=  image_tag(post.image, class: "header-img", style: "background-image") %>
          </div>
          <div class="col-md-10">
            <h5 class='card-title mb-2 text-dark'><%= post.title %></h5>
            <p class="text-secondary mb-0"><%= post.concept %></p>
              <%# タグの部分 %>
              <% if post.tag_list.any? %>
                <% post.tags.each do |tag| %>
                  <%= link_to posts_path(tag: tag.name) do %>
                    <div class="badge badge badge-info"><%= "#{tag.name}(#{tag.taggings_count})" %></div>
                  <% end %>
                <% end %>
              <% end %>
              <%# /タグの部分 %>
              <%= post.user.name %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>


  <!-- 右ブロック -->
<%= link_to 'Go to chat', rooms_path, class: "btn btn-primary"%>

<%# userの詳細ページ %>
<%# <%= post.user.name, user_path(post.user, method: :get) %>
