<div class="container">
  <div class="row">
    <div class="col-lg-2">
      <!-- 左ブロック -->
      <% if @tags.present? %>
        <% @tags.each do |tag| %>
            <%= link_to "#{tag.name}(#{tag.taggings_count})",posts_path(tag: tag.name), class: "badge badge badge-info" %>
        <% end %>
      <% end %>
    </div>

    <!-- 真ん中 -->
    <div class="col-lg-8">
      <% @posts.each do |post| %>
        <div class="col-auto">
          <div class="card" style="width: 18rem;">
            <div class="card-header">
              <%= link_to post.user.name, user_path(post.user, method: :get) %>
            </div>
            <%=link_to image_tag(post.image, class: "bd-placeholder-img card-img-top"), post_path(post.id) %>
            <div class="card-body">
              <h5 class="card-title"><%= post.title%></h5>
              <% if post.tag_list.any? %>
                <% post.tags.each do |tag| %>
                  <%= link_to posts_path(tag: tag.name) do %>
                    <div class="badge badge badge-info"><%= "#{tag.name}(#{tag.taggings_count})" %></div>
                  <% end %>
                <% end %>
              <% end %>
              <%= link_to 'Details', post_path(post.id), method: :get, class: "btn btn-warning" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-lg-2">
      <!-- 右ブロック -->
    </div>
  </div>
</div>
